{
    "presets": [
        ["env", 
            {
                "targets": {
                    "browsers": ["last 2 versions", "ie >= 7"]
                }
            }
        ],
        "stage-3",
        "react"
    ],
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "style": "css"
        }],
        "transform-runtime",
        "react-hot-loader/babel"
    ]
}